html{
    font-size: 62.5%;
    font-family: sans-serif;
    -webkit-locale: "en";
    display: block;
}
head{
    display:none;
}
body{
    background-color: #fff6f6;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", 
    "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #222;
    margin: 0;
    display: block;
}

header{
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
    display: block;
}
#heading{
    margin: 30px 0;
}
h1{
    text-align: center;
    line-height: 1.2;
    letter-spacing: -.1rem;
}
h2{
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}
h4{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: -.08rem;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

p{
    margin-bottom: 2.5rem;
    margin-top: 0;
}

div {
    display: block;
}

.container{
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

@media screen and  (min-width: 550px){
.four.columns {
  width: 30.6666666667%;  
}
.column:first-child,
.columns:first-child {
    margin-left: 0;
}
.column, .columns {
    margin-left: 4%;
}
h2{
    font-size: 4.2rem;
}
h1{
    font-size: 5.0rem;
}
h4{
    font-size: 3.0rem;
}
}
@media screen and (min-width: 750px){
    header {
        text-align: left;
    }
    .icon{
        margin-bottom: 0;
    }
}
@media screen and (min-width: 550px){
    .two.columns{
        width: 13.333333333%;
    }
    .card{
        text-align: left;
    }
}
.u-pull-right{
    float:right;
}
img {
    border: 0;
}

ul{
    list-style: none;
    margin-bottom: 2.5rem;
    padding-left: 0;
    margin-top: 0;
}
.submenu {
    position: relative;
}
li{
    margin-bottom: 1rem;
    display: list-item;
    text-align: -webkit-match-parent;
}

.submenu #shopping-cart {
    display:none;
}

#hero {
    background-image: url(../img/hero.jpg);
    height: 350px;
    background-size: cover;
}

@media screen and (min-width: 550px){
    .container{
        width: 80%;
    }
    .six.columns{
        width: 48%;
    }
    .column:first-child,
    .columns:first-child{
        margin-left: 0;
    }
}
@media screen and (min-width:440px){
    .container{
        width: 85%;
        padding: 0;
    }
}
.hero-content{
    margin-top: 80px;
    color: white;
}
.hero-content form{
    position: relative;
    margin-bottom: 0;
}

input[type="text"]{
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

input{
    line-height: normal;
    color: inherit;
    font: inherit;
    margin: 0;
}

.u-full-width{
    width:100%;
    box-sizing: border-box;
}

.hero-content form .submit-search-course{
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/mglass.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
}

input[type="submit"]{
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}
.main-bar{
    padding: 20px 0;
    background: linear-gradient(to right, #741d51 0%, #e44e52 100%);
}

.icon{
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
.icon1{
    background-image: url(../img/icon1.png);

}
.icon2{
    background-image: url(../img/icon2.png);

}
.icon3{
    background-image: url(../img/icon3.png);

}
.main-bar p{
    margin: 0;
    color: white;
}
.card{
    text-align: center;
    border: 1px solid #e1e1e1;
}
.info-card{
    padding: 10px 20px;
}

.info-card p, .card h4 {
    margin-bottom: 5px;
}
.info-card .price{
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .price span{
    font-weight: 700;
    font-size: 22px;
}

.button.button-primary{
    color:#FFF;
    background-color: #33C3F0;
    border-color:#33C3F0;
}
.add-to-cart{
    margin: 10px 0;
}

.button{
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
}

#courses-list .row{
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer{
    margin-top: 40px;
    border-top: 1px solid #aaa;
    padding-top: 40px;
}
nav{
    display: block;
}
.footer .menu a{
    display: block;
    margin-bottom: 10x;
    text-decoration: none;
}
a{
    color: #1EAEDB;
    background-color: transparent;
}